@model IEnumerable<Car_Hire_Services__CHS_.Models.Cars>
@{
    ViewData["Title"] = "GetCars";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-8 m-auto">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h3>List of car history to be Edited and Deleted</h3>
                </div>

                <div class="card-body">

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Name</th>
                                <th>Brand</th>
                                <th>Description</th>
                                <th>Year of vehicle</th>
                                <th>Price</th>
                                <th>Type</th>
                                <th>Color</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in Model)
                            {
                                <tr>
                                    <td width="50%">@obj.Id</td>
                                    <td width="50%">@obj.Name</td>
                                    <td width="50%">@obj.Brand</td>
                                    <td width="50%">@obj.YearOfManifacture</td>
                                    <td width="50%">@obj.Type</td>
                                    <td width="50%">@obj.Price</td>
                                    <td width="50%">@obj.Description</td>
                                    <td width="50%">@obj.Color</td>
                                    <td class="text-center d-flex">
                                        <a asp-controller="Admin" asp-action="Edit" asp-route-id="@obj.Id"  class="btn btn-primary mx-2">Edit</a>
                                        <a asp-controller="Admin" asp-action="DeleteCar" asp-route-carId='@obj.Id' class="btn btn-danger">Delete</a>
                                    </td>

                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="container">-->
        <!-- Modal -->
    <!--<div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-body">
                    <p>Are you sure you want to delete? </p>
                    <input id="deleteInfo" hidden>
                </div>
                <div class="text-center">
                    <a asp-controller="Admin" asp-action="DeletePost" onclick="deleteInfoName()" class="btn btn-success">Yes</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Modal -->

@*<script>
    function confirmDelet(id)
    {
        $("#deleteInfo").val(id);
    }

    function deleteInfoName()
    {
        debugger;
        var id = $("#deleteInfo").val();
        if (id != null)
        {
            $.ajax({
                type: "POST",
                url: '/Admin/DeletePost/',
                data: { id: id },
                success: function (result) {
                    if (!result.isError) {
                        successAlert(result.msg);
                    }
                    else {
                        errorAlert(result.msg);
                    }
                }
            })

        }

    }
</script>*@